@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url(".fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Lato", Arial, sans-serif;
  overflow-x: hidden;
}

section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s ease;
}

.head {
  margin-top: 60px;
}

.title,
.language,
.social,
.news {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", "Lato", Arial, Helvetica, sans-serif;
  margin: 20px auto;
}

.title,
.hamburger {
  font-size: 40px;
}

.language {
  display: flex;
}

.news {
  flex-direction: column;
}

.osnabruck,
.tamale {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0px;
  padding: 5px 10px;
}

.rouge {
  background-color: #f7ab68;
}

.blue {
  background-color: #7bbfee;
}

.place {
  padding: 10px;
  display: flex;
}

.role {
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: 100;
}

.uk-icon-button {
  box-sizing: border-box;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #eee;
  line-height: 35px;
  color: #444;
  font-size: 18px;
  text-align: center;
}

.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
}

.hamburger .icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.hamburger .icon span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  transition: transform 0.3s ease-in-out;
}

.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: none;
}

.menu.active {
  display: block;
}

.menu ul {
  list-style: none;
  padding: 10px;
  margin: 10px;
}

.menu li {
  margin-right: 10px;
  margin: 10px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.menu li a:hover {
  color: #333;
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.map img {
  max-width: 100%;
  max-height: 100%;
  margin: 10px;
}

.map img:hover {
  border: #333 1px solid;
}

.text {
  margin: 20px;
  text-align: justify;
}

.eventimg {
  width: 20px;
}

.active-link {
  /* Define the styles for the active link */
  color: red;
  /* Add any additional styles as needed */
}

.pcolor {
  color: #8f8e8e;
}

.bold {
  font-size: 18px;
  color: #333;
}

.eventdiv {
  margin: 15px 20px;
}

.event {
  background-color: #8d8893;
  padding: 5px;
  margin: 15px 20px;
  color: #fff;
}

.text p {
  color: #8f8e8e;
}

.sectionhead {
  color: #333;
  /* margin-top: 30px; */
  font-size: 20px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile img {
  max-width: 100%;
  max-height: 100%;
  margin: 10px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #808080;
  color: #fff;
  padding: 10px;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px 0;
}

.menu {
  display: flex;
  list-style-type: none;
}

section {
  margin-top: 20px;
}

.carousel-container {
  width: 100%;
  margin: 10px auto;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.carousel-item div {
  padding: 5px;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  margin: 10px;
}

.carousel {
  height: fit-content;
  display: flex;
  width: 300px;
  animation: carouselAnimation 20s infinite;
}

@keyframes carouselAnimation {
  0%,
  20% {
    transform: translateX(0);
  }
  25%,
  45% {
    transform: translateX(-320px);
  }
  50%,
  70% {
    transform: translateX(-640px);
  }
  75%,
  95% {
    transform: translateX(-960px);
  }
  100% {
    transform: translateX(-1280px);
  }
}

@media screen and (max-width: 1023px) {
  .menu,
  .nav {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .menu.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #808080;
    width: 100vw;
  }

  .map img {
    max-width: 300px;
    max-height: 300px;
  }
}

@media screen and (min-width: 1023px) {
  .menu,
  header {
    display: none;
  }

  .head {
    display: flex;
    margin-top: 0px;
    margin-left: 130px;
  }

  .news {
    align-items: flex-start;
    margin: 0px;
  }

  section {
    width: 65vw;
    margin-left: auto;
  }

  .carousel-container {
    width: 50vw;
  }

  .nav {
    position: fixed;
    height: 100vh;
    margin: 20px;
    display: flex;
    left: 15px;
  }

  .nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .nav ul.second-column {
    margin-left: 20px;
    text-align: left;
  }

  .nav ul.first-column {
    text-align: right;
  }

  .nav ul li {
    margin-bottom: 10px;
  }

  .nav ul li a {
    color: rgb(143, 142, 142);
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 100;
  }

  .nav ul li a:hover {
    color: #0f0f0f;
  }

  .active {
    color: #0f0f0f;
  }

  .carousel-item {
    flex: 0 0 650px;
    height: fit-content;
    width: fit-content;
  }

  .carousel-container {
    width: 700px;
    height: fit-content;
    overflow: hidden;
    position: relative;
    margin: 0px;
  }

  .place {
    padding-left: 0px;
  }

  .social {
    margin-right: 35px;
  }

  @keyframes carouselAnimation {
    0%,
    20% {
      transform: translateX(0);
    }
    25%,
    45% {
      transform: translateX(-650px);
    }
    50%,
    70% {
      transform: translateX(-1300px);
    }
    75%,
    95% {
      transform: translateX(-1950px);
    }
    100% {
      transform: translateX(-2600px);
    }
  }

  .map img {
    max-width: 300px;
    max-height: 300px;
  }
}

@media screen and (min-width: 1439px) {
  section {
    margin-right: 100px;
  }

  .mapper {
    display: flex;
    justify-content: end;
  }

  .box {
    flex: 1;
  }

  .map {
    margin-left: 20px;
  }

  .banner {
    display: flex;
  }

  .carousel-container {
    width: 900px;
  }

  .head {
    margin-left: 60px;
  }

  .social {
    margin-right: 115px;
  }

  .map img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (min-width: 2559px) {
  .nav {
    left: 330px;
  }

  .head {
    margin-left: 150px;
  }

  .carousel-container {
    width: 1650px;
  }
}
