@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url(".fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url(".fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", Arial, sans-serif;
  overflow-x: hidden;
}

section {
  /* height: 100vh; */
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s ease;
}

.section h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.section p {
  font-size: 18px;
  margin-bottom: 40px;
}

.arrow {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 30px;
  margin: 40px;
  transition: transform 0.3s ease;
  animation: arrowBounce 1s infinite alternate;
}

@keyframes arrowBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.logos {
  margin-right: 20px;
  text-align: right;
}

.logo {
  width: 150px;
  height: 100px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  margin: 20px;
}

.text-box {
  text-align: justify;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
}

.left {
  background-color: #7bbfee;
}

.right {
  background-color: #f7ab68;
}

.shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.title {
  display: flex;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  justify-content: space-between;
}

.title span:nth-child(1) {
  letter-spacing: 10px;
  margin-left: 140px;
}

.text {
  margin-left: 302px;
  margin-right: 40px;
  text-align: justify;
}

.text p {
  color: #333;
}

.language {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.language div {
  font-size: 15px;
  font-weight: 300;
  margin: auto 5px;
}

.social {
  margin-right: 15px;
  margin-bottom: 15px;
}

.info {
  margin: auto 50px;
  font-size: 40px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.info div:nth-child(1) {
  font-weight: bold;
}

.info div:nth-child(2) {
  font-size: 16px;
}

.info div:nth-child(1) a {
  color: #333;
}

.banner {
  width: 100%;
}

.nav {
  margin: 20px 20px 20px 250px;
}

.osnabruck,
.tamale {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin: 5px 5px 10px 0px;
  padding: 5px 1px;
}

.rouge {
  background-color: #f7ab68;
}

.blue {
  background-color: #7bbfee;
}

.carousel-container {
  width: 700px;
  overflow: hidden;
  position: relative;
}

.carousel {
  height: fit-content;
  display: flex;
  width: fit-content;
  animation: carouselAnimation 20s infinite;
}

.carousel-item {
  flex: 0 0 700px;
  width: 700px;
  background-color: #ccc;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel-item span {
  text-align: left;
  padding: 10px 100px;
}

@keyframes carouselAnimation {
  0%,
  20% {
    transform: translateX(0);
  }
  25%,
  45% {
    transform: translateX(-700px);
  }
  50%,
  70% {
    transform: translateX(-1400px);
  }
  75%,
  95% {
    transform: translateX(-2100px);
  }
  100% {
    transform: translateX(-2800px);
  }
}

.uk-icon-button {
  box-sizing: border-box;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #eee;
  line-height: 35px;
  color: #444;
  font-size: 18px;
  text-align: center;
}

.carousel-item img {
  width: 700px;
  height: 300px;
}

.carousel-item p {
  color: #333;
  text-align: left;
  background-color: #7bbfee;
  padding: auto;
}

/* Button Styles */
.button {
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #ffdbcc;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Artistic Button Styles */
.art-button {
  background-color: #f6f6f6;
  color: #555;
  /* border: 1px solid #ccc; */
}

.art-button:hover {
  background-color: #eee;
}

.art-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2)
  );
  z-index: -1;
}

.art-button span {
  position: relative;
  z-index: 1;
}

nav {
  position: fixed;
  left: 0;
  height: 100vh;
  padding: 20px;
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

nav ul.second-column {
  margin-left: 20px;
  text-align: left;
}

nav ul.first-column {
  text-align: right;
}

nav ul li {
  margin-bottom: 10px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 100;
}

nav ul li a:hover {
  color: #65acac;
}

section {
  padding: 100px 0;
  text-align: center;
}

section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

section p {
  font-size: 18px;
  color: #888;
}

/* Add padding to the sections to compensate for the fixed navigation bar */
section {
  padding-top: 60px; /* Adjust this value to fit your navigation bar height */
}

.name {
  font-weight: 100;
  display: flex;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
}

.content {
  width: 100%;
  margin: 20px 35px 5px;
}

.date {
  text-align: left;
}

.place {
  display: flex;
}

@media (max-width: 2560px) {
}

@media (max-width: 1440px) {
  nav ul.second-column {
    margin-left: 45px;
  }

  .content {
    margin-left: 70px;
  }

  .title span:nth-child(1) {
    margin-left: 168px;
  }

  .carousel-container {
    width: 70%;
  }

  .text {
    margin-left: 335px;
    margin-right: 80px;
  }

  .social {
    margin-right: 100px;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 320px) {
}
